# Database
DATABASE_URL=

# Auth
ORIGIN=http://localhost:8424
DISABLE_REGISTER=false
AUTH_SECRET=

# AUTH_GOOGLE_CLIENT_ID=
# AUTH_GOOGLE_CLIENT_SECRET=

# Email (set one of the following)
# SENDER_EMAIL=openwebtrack@yourdomain.com

# RESEND_API_KEY=

# MAILEROO_API_KEY=

# SMTP_HOST=smtp.example.com
# SMTP_PORT=587
# SMTP_USER=
# SMTP_PASS=

# Other
# CRON_SECRET=

